@import "tailwindcss";
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import 'swiper/css';
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/pagination';

@plugin "daisyui";


.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.mySwiper .swiper-slide {
  width: 300px;
}

@media (max-width: 768px) {
  .mySwiper .swiper-slide {
    width: 280px;
  }
}

@media (max-width: 480px) {
  .mySwiper .swiper-slide {
    width: 90%;
    max-width: 320px;
  }
}